/* Why must I resort to this awful solution */
* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #f4dfc8;
}

/*******************************************************************************************************/
/******************************************* Header styling ********************************************/
/*******************************************************************************************************/

.header {
	background-color: #758173;
	position: absoloute;
	display: inline-block;
	width: 100%;
}
.header > .title {
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 100px;
	width: 100px;
	float: left;
	text-align: right;
}

.header > .title h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 50px;
	color: #C5EFCB;
}

.header > .navigation {
	text-align: right;
	float: right;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 30px;
}

.header > .navigation ul {
	text-align: right;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 40px;
	color: #C5EFCB;
	list-style-type: none;
}

.header > .navigation li {
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
}

/*******************************************************************************************************/
/********************************************* Bio styling *********************************************/
/*******************************************************************************************************/

.container {
	width: 100%;
	height: auto;
	padding-bottom: 15px;
	padding-top: 15px;
}

/*
#bio-section {
	background-color: lightblue;
}

*/
#project-section {
	background-color: #FFF4E9;
}


/*  these specific id tags will over-write the default styling on image and text in an entry for bio only */
#bio-image {
	float: right;
}

#bio-text {
	float: left;
}

.entry {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 835px;
	height: 325px;
}

.entry > .image {
	width: 325px;
	height: 325px;
	background-color: #758173;
	border-radius: 50%;
	float: left;
}

.entry > .image img {
	border-radius: 50%;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.entry > .text {
	font-family: 'Raleway', sans-serif;
	float: right;
	width: 450px;
	height: 300px;
	padding-left: 10px;
}

.entry > .text h1 {
	font-weight: 800;
}

.entry > .text p {
	margin-top: 20px;
	font-weight: 300;
	font-size: 20px;
}

/* spacer tag styling */

.section-spacer {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin-top: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #FFFCFA;
	color: #758173;
}