/* Why must I resort to this awful solution */
* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #f4dfc8;
}

/*******************************************************************************************************/
/******************************************* Header styling ********************************************/
/*******************************************************************************************************/

.header {
	background-color: #758173;
	position: absoloute;
	display: inline-block;
	width: 100%;
}
.header > .title {
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 100px;
	width: 100px;
	float: left;
	text-align: right;
}

.header > .title h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 50px;
	color: #C5EFCB;
}

.header > .navigation {
	text-align: right;
	float: right;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-right: 30px;
}

.header > .navigation ul {
	text-align: right;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 40px;
	color: #C5EFCB;
	list-style-type: none;
}

.header > .navigation li {
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
}

/*******************************************************************************************************/
/********************************************* Bio styling *********************************************/
/*******************************************************************************************************/

.bio {
	background-color: blue;
}

.bio > .entry {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 800px;
	background-color: red;
}